<div class="row">
  <div class="col">
    <div class="mb-3">
      <input type = "text" class="form-control" [(ngModel)]="filter">

    </div>
    <div class="mb-3">
      <input type="checkbox" class="form-check-input" [(ngModel)]="showimage">showimage
    </div>
  </div>
</div>

<div class="row row-cols-1 row-cols-sm-4 row-col-md-3 g-3">
<div *ngFor = "let product of filtered" class="col">
  <div class="card" >
    <div class="d-flex justify-content-center" *ngIf="showimage">
    <img [src]=" product.image"
     class="card-img-top"
     [alt]="product.name"
     [style.width.px]="200"
     [style.height.px]="300">
    </div>
    <div class="card-body">
      <h5 class="card-title">{{product.id}}</h5>
      <strong>{{product.name}}</strong>
      <h3>{{product.price | currency : 'INR' : 'symbol' : '1.0'}}</h3>
      <p class="card-text">{{product.description}}</p>
      <p>{{product.delivery}}</p>
      <p><app-star [rating]="product.rating" (ratingClick)="onRatingClicked($event)"></app-star></p>
      <a href="#" class="btn btn-primary"(click)="addtocart($event,product)">Add to Cart</a>
    </div>
  </div>

  </div>
</div>
